<p id="notice"><%= notice %></p>

<p>
  <strong>Leisure type name:</strong>
  <%= @leisure_type.leisure_type_name %>
</p>

<%= link_to 'Edit', edit_leisure_type_path(@leisure_type) %> |
<%= link_to 'Back', leisure_types_path %>
