<p id="notice"><%= notice %></p>

<p>
  <strong>Religion name:</strong>
  <%= @religion.religion_name %>
</p>

<%= link_to 'Edit', edit_religion_path(@religion) %> |
<%= link_to 'Back', religions_path %>
