<p id="notice"><%= notice %></p>

<p>
  <strong>Areas skill name:</strong>
  <%= @areas_skill.areas_skill_name %>
</p>

<%= link_to 'Edit', edit_areas_skill_path(@areas_skill) %> |
<%= link_to 'Back', areas_skills_path %>
